<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<div th:replace="common/header::header"></div>
<body>
<div th:replace="common/go_back::go_back('/')"></div>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${page.content}">
      <td><a th:href="'author/' + ${entity.id}" class="link-secondary"
             th:text="${entity.surname}"></a></td>
      <td><span th:text="${entity.name}"></span></td>
      <td><span th:text="${entity.patronymic}"></span></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
