<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<div th:replace="common/header::header"></div>
<body>
<div class="container">
  <div class="list-group">
    <a href="/author" class="list-group-item list-group-item-action">Авторы</a>
    <a href="/book" class="list-group-item list-group-item-action">Книги</a>
    <a href="/customer" class="list-group-item list-group-item-action">Клиенты</a>
    <a href="/order" class="list-group-item list-group-item-action">Заказы</a>
  </div>
</div>
</body>
</html>
