<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="utf-8">
  <title>Курсовая работа. Кравец Анастасия, з1751</title>
  <style>
    table, tr, td, th {
      border: 1px solid gray;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .task_header {
      background-color: #d6d2d2;
      border: 0 !important;
    }

    th, td {
      padding: 5px;
    }

    table {
      margin-bottom: 20px;
      width: 100%;
    }

    code {
      background-color: aliceblue;
      color: black;
    }
  </style>
</head>
<body>
<div class="container" style="">
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="3">Курсовая работа по дисциплине "Системы баз данных"</th>
    </tr>
    <tr>
      <th scope="col">Студент</th>
      <th scope="col">Группа</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Кравец Анастасия Игоревна</td>
      <td>з1751</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">6.1 Разработать запрос на языке SQL, отображающий все поля одной
        таблицы с отбором по одному условию и сортировкой
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT * FROM orders WHERE id > 3 ORDER BY id DESC;
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID заказа</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Описание</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">ID клиента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result61}">
      <td><span th:text="${entity.id}"></span></td>
      <td><span th:text="${#temporals.format(entity.created_At, 'dd-MM-yyyy HH:mm')}"></span></td>
      <td><span th:text="${entity.description}"></span></td>
      <td><span th:text="${#temporals.format(entity.issued_At, 'dd-MM-yyyy HH:mm')}"></span></td>
      <td><span th:text="${entity.customer_Id}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">6.2. Разработать запрос на языке SQL, отображающий определенные
        поля одной таблицы с отбором по сложному условию и сортировкой по двум полям
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT * FROM orders
          WHERE (date(created_at) >= date(:startDate) AND date(created_at) <= date(:endDate))
          OR (date(issued_at) >= date(:startDate) AND date(issued_at) <= date(:endDate))
          ORDER BY issued_at DESC, created_at
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID заказа</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Описание</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">ID клиента</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result62}">
      <td><span th:text="${entity.id}"></span></td>
      <td><span th:text="${#temporals.format(entity.created_At, 'dd-MM-yyyy HH:mm')}"></span></td>
      <td><span th:text="${entity.description}"></span></td>
      <td><span th:text="${#temporals.format(entity.issued_At, 'dd-MM-yyyy HH:mm')}"></span></td>
      <td><span th:text="${entity.customer_Id}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">
        6.3. Разработать запрос на языке SQL с выполнением групповой операции над данными
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT customer_id, COUNT(issued_at) FROM orders GROUP BY customer_id
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID клиента</th>
      <th scope="col">Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result63}">
      <td><span th:text="${entity.customer_Id}"></span></td>
      <td><span th:text="${entity.count}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">
        6.4. Разработать запрос на языке SQL с выполнением групповой операции над данными и агрегирующей функцией
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT customer_id, COUNT(issued_at), sum(amount) as amount FROM orders INNER JOIN order_books ob on orders.id = ob.order_id INNER JOIN books b on b.id = ob.book_id GROUP BY customer_id
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID клиента</th>
      <th scope="col">Количество заказов</th>
      <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result64}">
      <td><span th:text="${entity.customer_Id}"></span></td>
      <td><span th:text="${entity.count}"></span></td>
      <td><span th:text="${entity.amount}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">
        6.5. Создать запрос с выполнением групповой операции над данными и отбором определенных групп
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT customer_id, COUNT(*), sum(amount) as amount
          FROM orders
                  INNER JOIN order_books ob on orders.id = ob.order_id
                   INNER JOIN books b on b.id = ob.book_id
          GROUP BY customer_id HAVING count(*) > 2
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID клиента</th>
      <th scope="col">Количество заказов</th>
      <th scope="col">Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result65}">
      <td><span th:text="${entity.customer_Id}"></span></td>
      <td><span th:text="${entity.count}"></span></td>
      <td><span th:text="${entity.amount}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="8">
        6.6. Разработать запрос на языке SQL, результирующая таблица которого соответствовала бы по структуре записи таблице, созданной по агрегированной сущности, но объекты бы представлялись своими наименованиями, взятыми из соответствующих таблиц-справочников, с условием отбора по одному полю. Выполнить сортировку.
        <br/>6.7. Разработать запрос на языке SQL, результирующая таблица которого, должна содержать все поля предыдущего запроса и добавить вычисляемое поле. Выполнить сортировку по нескольким полям.
        <br/>6.8. Разработать запросы на языке SQL, выполняющий объединение нескольких таблиц.
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="8">
        <code>
          SELECT o.id,
                   o.created_at,
                   o.description,
                   o.issued_at,
                    (o.created_at - o.issued_at)::varchar                    AS process_time,
                   b.name,
                   concat(a.surname, ' ', a.name, ' ', a.patronymic) AS book_author,
                   concat(c.surname, ' ', c.name, ' ', c.patronymic) AS customer
            FROM orders o
                     INNER JOIN customers c on c.id = o.customer_id
                     INNER JOIN order_books ob on o.id = ob.order_id
                     INNER JOIN books b on b.id = ob.book_id
                     INNER JOIN authors a on a.id = b.author_id
            ORDER BY o.created_at DESC, concat(a.surname, ' ', a.name, ' ', a.patronymic);
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Описание</th>
      <th scope="col">Дата выдачи</th>
      <th scope="col">Время обработки</th>
      <th scope="col">Название</th>
      <th scope="col">Автор</th>
      <th scope="col">Клиент</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result66}">
      <td><span th:text="${entity.id}"></span></td>
      <td><span th:text="${entity.created_At}"></span></td>
      <td><span th:text="${entity.description}"></span></td>
      <td><span th:text="${entity.issued_At}"></span></td>
      <td><span th:text="${entity.process_Time}"></span></td>
      <td><span th:text="${entity.name}"></span></td>
      <td><span th:text="${entity.book_Author}"></span></td>
      <td><span th:text="${entity.customer}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="6">
        6.9. Разработать запрос на языке SQL, выполняющий пересечение нескольких таблиц. Разработать запросы на языке SQL с различными видами подзапросов: с однострочными и многострочными операторами сравнения, с табличными выражениями
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="6">
        <code>
          SELECT * FROM authors WHERE id IN (SELECT author_id FROM books);
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID автора</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Фамилия</th>
      <th scope="col">ID страны</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result69}">
      <td><span th:text="${entity.id}"></span></td>
      <td><span th:text="${entity.date_Of_Birth}"></span></td>
      <td><span th:text="${entity.name}"></span></td>
      <td><span th:text="${entity.patronymic}"></span></td>
      <td><span th:text="${entity.surname}"></span></td>
      <td><span th:text="${entity.country_Id}"></span></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr class="task_header">
      <th scope="col" colspan="5">
        6.10. Разработать запрос на языке SQL с самосоединением таблицы
      </th>
    </tr>
    <tr class="task_header">
      <th scope="col" colspan="5">
        <code>
          SELECT o1.id, o1.description FROM orders o1 JOIN orders o2 ON o1.customer_id = o2.customer_id WHERE o1.customer_id = 1;
        </code>
      </th>
    </tr>
    <tr>
      <th scope="col">ID заказа</th>
      <th scope="col">Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${result610}">
      <td><span th:text="${entity.id}"></span></td>
      <td><span th:text="${entity.description}"></span></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
